@media (min-width: 992px) {
    .main_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    gap: 2%;

    }

    .text-style {
        font-family: "Monotype Corsiva";
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .col1-row1 {
        background: orange;
        width: 30%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col1-row2 {
        margin: 0 auto 20px;
    }

    .col2-row1 {
        background: crimson;
        width: 30%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col2-row2 {
        margin: 0 auto 20px;
    }

    .col3-row1 {
        background: pink;
        width: 30%;
        border-style: none none solid solid;
        text-align: center;
    }

    .col3-row2 {
        margin: 0 auto 20px;
    }

    .col1 {
        width: 30%;
        background: lightseagreen;
        border: solid;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col2 {
        width: 30%;
        background: lightseagreen;
        border: solid;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col3 {
        width: 30%;
        background: lightseagreen;
        border: solid;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    footer {
        background: red;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
}

@media(min-width: 768px)and (max-width: 992px) {
    .main_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .text-style {
        font-family: "Monotype Corsiva";
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .col1-row1 {
        background: orange;
        width: 30%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col1-row2 {
        margin: 0 auto 19px auto;
    }

    .col2-row1 {
        background: crimson;
        width: 30%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col2-row2 {
        margin: 0 auto 19px auto;
    }

    .col3-row1 {
        background: pink;
        width: 14.1509%;
        border-style: none none solid solid;
        text-align: center;
    }

    .col3-row2 {
        margin: 0 auto 19px auto;
    }

    .col1 {
        width: 45%;
        background: lightseagreen;
        border: solid;
        margin: 0 2% 0 2%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col2 {
        width: 45%;
        background: lightseagreen;
        border: solid;
        margin: 0 2% 0 2%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col3 {
        width: 95.6%;
        background: lightseagreen;
        border: solid;
        margin: 4% auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    footer {
        background: yellow;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .main_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .text-style {
        font-family: "Monotype Corsiva";
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .col1-row1 {
        background: orange;
        width: 20%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col1-row2 {
        margin: 0 auto 19px auto;
    }

    .col2-row1 {
        background: crimson;
        width: 20%;
        border-style: none none solid solid;
        text-align: center;

    }

    .col2-row2 {
        margin: 0 auto 19px auto;
    }

    .col3-row1 {
        background: pink;
        width: 20%;
        border-style: none none solid solid;
        text-align: center;
    }

    .col3-row2 {
        margin: 0 auto 19px auto;
    }

    .col1 {
        width: 90%;
        background: lightseagreen;
        border: solid;
        margin: 0 auto;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col2 {
        width: 90%;
        background: lightseagreen;
        border: solid;
        margin: 0 auto;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .col3 {
        width: 90%;
        background: lightseagreen;
        border: solid;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    footer {
        background: yellow;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
}